@import "tailwindcss";

* {
  box-sizing: border-box;
}

:root {
  --background: #ffffff;
  --color: #222222;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Jura", sans-serif;
  font-optical-sizing: auto;
}

.wrapper {
  max-width: 72rem;
  margin-inline: auto;
}

@media (min-width: 1024px) {
  .hover-shake:hover {
    animation: shake 0.5s ease-in-out !important;
  }
}

@theme {
  --color-primary: #1f5226;
  --color-accent: #d6fadb;
  --color-text: #d2ffd9;
  --color-secondary: #222222;
  --color-shadow: rgba(0, 0, 0, 0.1);

  --font-primary: "Jura", sans-serif;
}

@keyframes blink-red {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.7);
    border-color: rgba(255, 0, 0, 0.7);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(255, 0, 0, 0);
    border-color: rgba(255, 0, 0, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
    border-color: rgba(255, 0, 0, 0);
  }
}

.urgent-blink {
  animation: blink-red 1.5s infinite;
  border: 2px solid red !important;
}
